<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header class="container-fluid">
    <p>Header Text</p>
</header>
<div class="container nav">
  <div class="col-sm-4">
    <table >
      <tr>
        <td> Mẫu biểu : </td>
        <td>
          <select name="img attribute" id="imgAttribute">
            <option value=""> Mẫu biểu 01 </option>
            <option value=""> Mẫu biểu 02 </option>
            <option value=""> Mẫu biểu 03 </option>
          </select>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <table >
      <tr>
        <td> Mã cơ sở y tế : </td>
        <td>
          <select name="img attribute" id="imgAttribute">
            <option value="">  01 </option>
            <option value="">  02 </option>
            <option value="">  03 </option>
          </select>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-4">
    <table >
      <tr>
        <td> Năm : </td>
        <td>
          <select name="img attribute" id="imgAttribute">
            <option value="">  2020 </option>
            <option value="">  2019 </option>
            <option value="">  2018 </option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="container">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <input type="file" id="myFile" name="filename">
      <div class="item">
        <div class="frame_inner">
          <button class="btn-close"><i class="fa fa-close"></i></button>
          <figure class="product_image">
            <div>
            <a href="">
                <img src="/img/anh1.jpg" alt="Đồng hồ Thăng Long Orient" class="img_small img_click">
            </a>
          </div>
            <div class="img_name">
              Đồng hồ Orient
            </div>
        </figure>
      </div>
      <div class="frame_inner">
        <figure class="product_image">
            <button class="btn-close"><i class="fa fa-close"></i></button>
            <a href="">
                <img src="/img/anh2.jpg" alt="Đồng hồ Thăng Long Orient" class="img_small">
            </a>
            <div class="img_name">
              Đồng hồ Casio
            </div>
        </figure>
      </div>
      <div class="frame_inner">
        <figure class="product_image">
            <button class="btn-close"><i class="fa fa-close"></i></button>
            <a href="">
                <img src="/img/anh2.jpg" alt="Đồng hồ Thăng Long Orient" class="img_small">
            </a>
            <div class="img_name">
              Đồng hồ Casio
            </div>
        </figure>
      </div>
      <div class="frame_inner">
        <figure class="product_image">
            <button class="btn-close"><i class="fa fa-close"></i></button>
            <a href="">
                <img src="/img/anh2.jpg" alt="Đồng hồ Thăng Long Orient" class="img_small">
            </a>
            <div class="img_name">
              Đồng hồ Casio
            </div>
        </figure>
      </div>
      </div> 
      <button type="button" class="btn btn-default">Submit</button>
    </div>

    <div class="col-sm-9 sidenavright">
      <div class="frame_inner_right">
        <figure class="product_image">
            <a href="">
                <img src="/img/Yasuo_0.jpg" alt="Đồng hồ Thăng Long Orient" >
            </a>
        </figure>
      
    </div>
  </div>
</div>

<!-- <footer class="container-fluid">
  <p>Footer Text</p>
</footer> -->

</body>
</html>
